<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>baoji.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{139,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,38}}</string>
                <key>sourceSize</key>
                <string>{139,38}</string>
            </dict>
            <key>g_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,24},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,16}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,23},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{16,8}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,2},{14,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{703,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{699,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,2},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{663,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>g_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{20,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,19}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>miss.png</key>
            <dict>
                <key>frame</key>
                <string>{{143,2},{139,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{139,34}}</string>
                <key>sourceSize</key>
                <string>{139,38}</string>
            </dict>
            <key>r_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{741,24},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,16}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,23},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{16,8}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{637,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{14,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{627,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{615,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{471,2},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{593,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,2},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{571,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>r_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,2},{20,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,19}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>w_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,24},{14,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{14,16}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{773,24},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,6},{16,8}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{735,2},{14,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{14,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,2},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,24},{16,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{16,20}}</string>
                <key>sourceSize</key>
                <string>{24,20}</string>
            </dict>
            <key>w_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,2},{20,19}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,4},{20,19}}</string>
                <key>sourceSize</key>
                <string>{26,25}</string>
            </dict>
            <key>y_%.png</key>
            <dict>
                <key>frame</key>
                <string>{{491,2},{23,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{23,19}}</string>
                <key>sourceSize</key>
                <string>{23,19}</string>
            </dict>
            <key>y_+.png</key>
            <dict>
                <key>frame</key>
                <string>{{817,2},{15,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,14}}</string>
                <key>sourceSize</key>
                <string>{15,14}</string>
            </dict>
            <key>y_-.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,19},{15,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{15,6}}</string>
                <key>sourceSize</key>
                <string>{15,6}</string>
            </dict>
            <key>y_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,23},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,27},{13,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{13,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,23},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,2},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{535,2},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{783,2},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{529,23},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,2},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,2},{15,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{15,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,23},{17,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{17,19}}</string>
                <key>sourceSize</key>
                <string>{17,19}</string>
            </dict>
            <key>y_w.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{24,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,23}}</string>
                <key>sourceSize</key>
                <string>{24,23}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>number.png</string>
            <key>size</key>
            <string>{833,42}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:caf2be15bd6f40a10198041a7686e253:1/1$</string>
            <key>textureFileName</key>
            <string>number.png</string>
        </dict>
    </dict>
</plist>
