<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gem_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,165},{88,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{88,101}}</string>
                <key>sourceSize</key>
                <string>{88,101}</string>
            </dict>
            <key>hero_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,2},{184,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,237}}</string>
                <key>sourceSize</key>
                <string>{184,237}</string>
            </dict>
            <key>hero_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{746,2},{184,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,237}}</string>
                <key>sourceSize</key>
                <string>{184,237}</string>
            </dict>
            <key>hero_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,2},{184,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,237}}</string>
                <key>sourceSize</key>
                <string>{184,237}</string>
            </dict>
            <key>hero_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{184,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,237}}</string>
                <key>sourceSize</key>
                <string>{184,237}</string>
            </dict>
            <key>hero_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,2},{184,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,237}}</string>
                <key>sourceSize</key>
                <string>{184,237}</string>
            </dict>
            <key>hero_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{184,237}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,237}}</string>
                <key>sourceSize</key>
                <string>{184,237}</string>
            </dict>
            <key>item_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{1526,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1424,104},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1322,63},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1220,63},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>item_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,63},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>jinengdi.png</key>
            <dict>
                <key>frame</key>
                <string>{{1221,165},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>waifag.png</key>
            <dict>
                <key>frame</key>
                <string>{{1528,2},{97,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,97}}</string>
                <key>sourceSize</key>
                <string>{97,97}</string>
            </dict>
            <key>xuanzhongkuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1118,2},{306,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,59}}</string>
                <key>sourceSize</key>
                <string>{306,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>quality.pvr.ccz</string>
            <key>size</key>
            <string>{1628,255}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78757added32376864638f81838321f9:1/1$</string>
            <key>textureFileName</key>
            <string>quality.pvr.ccz</string>
        </dict>
    </dict>
</plist>
